.pre-footer {
  padding: 60px 0px;
  .container {
    max-width: 1000px;
    padding: 30px;
    margin: auto;
    .column {
      max-width: 650px;
      margin: auto;
      text-align: center;
      .title {
        font-size: 2.4em;
        color: #116586;
      }
      .caption {
        margin-top: 10px;
        color: rgb(126, 126, 126);
        line-height: 1.8em;
        font-size: 1.1em;
      }
      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;
      }
      .call-to-action {
        margin: 10px 0px;
        padding: 13px 30px;
        border: none;
        background-color: var(--theme);
        color: white;
        font-weight: medium;
        font-size: 1.1em;
        font-family: inherit;
        border-radius: 4px;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        transition: 150ms ease-in-out;
        &:hover {
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2)
        }
      }
      .call-to-action-service {
        @extend .call-to-action;
        padding: 11px 28px;
        border: 2px solid var(--theme);
        color: var(--theme);
        background-color: white;
        &:hover {
          background-color: #0f7ca70a;
        }
      }
    }
  }
}