/* Navigation styling */

header {
  margin-top: 10px;
}

.logo {
  width: 20%;
}

nav {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Alata", sans-serif;
  font-size: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: rgb(38, 133, 170);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
  list-style: none;
  cursor: pointer;
}

.nav-item:hover {
  transition: all 0.5s;
  border-bottom: 1px solid #fff;
  color: #000;
}
