footer {
  color: #fff;
  position: absolute;
  bottom: 0;
}

.logo-others img {
  height: 50px;
}

.footer-section {
  min-height: 80px;
  display: flex;
  max-width: 1300px;
  padding: 0px 30px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}



/* Logo and others styling */

.logo-others {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-others .nav-btm-items {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  color: white;
}

.nav-item {
  margin-left: 15px;
}

.social-others {
  text-align: right;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.icon {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  display: block;
}

/* Media Queries */
@media (max-width: 600px) {
  .footer-section {
    padding: 20px 30px ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-others {
    width: 100%;
    justify-content: space-between;
  }
  
  .nav-item {
    margin-bottom: 20px;
  }

  .social-others {
    text-align: center;
    margin-top: 10px;
  }

  .social {
    justify-content: center;
  }
}
