#admin {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  .side-navigation {
    width: 280px;
    background-color: white;
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
    flex-shrink: 0;
  }
  .admin-pages {
    padding-top: 60px;
    height: 100vh;
    max-height: 100vh;
    // width: calc(100% - 300px);
    flex-grow: 1;
    overflow: auto;
    flex-shrink: 0;
  }
}